<h2>Listing Products</h2>
<ul class="product_list">
  <% Product.order('id DESC').limit(6).each do |rows| %>
    <li>
      Name : <%=rows.name%><br/>
      Price : <%=rows.price%><br/><br/>
      <%= link_to 'See More', :action => :show, :id =>rows.id %>
    </li>
  <% end %>
</ul>
<div class="clear"></div>
<br/><br/>

<%= render :partial => 'articles/latest' %>