<h2>Listing Products</h2>
<% if current_user %>
  <%= link_to "New Product", new_product_path %><br /><br />
<% end %>
<ul class="product_list">
  <% @products.each do |rows| %>
    <li>
      Name : <%=rows.name%><br/>
      Price : <%=rows.price%><br/><br/>
      <%= link_to 'See More', product_path(rows.id) %>
      <% if is_owner(rows.user_id) %>
        | <%= link_to "Edit", edit_product_path(rows.id) %>
        | <%= link_to "Delete", product_path(rows.id), :method=>:delete, :confirm => "Are you sure?" %>
      <% end %>
    </li>
  <% end %>
</ul>
<div class="clear"></div>