<h2>New Product</h2>
<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
    <%= pluralize(@product.errors.count, "error") %> :
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <table>
    <tr>
      <td width="100"><%=  f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description, :rows => 5 %></td>
    </tr>
    <tr>
      <td><%=  f.label :price %></td>
      <td><%= f.text_field :price, :size=>10 %></td>
    </tr>
    <tr>
      <td><%=  f.label :weight %></td>
      <td><%= f.text_field :weight, :size=>10 %></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><%= collection_select(:product, :category_id, @category, :id, :name, {:prompt => false}) %></td>
    </tr>
  </table>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%=f.submit :Submit%>  <%= link_to "Back", products_path %>
<% end %>
