<h2>Detail Product</h2>

<table>
  <tr>
    <td width="100" class="cls-label"><%= label_tag :category_id %></td>
    <td><%= @product.get_category %></td>
  </tr>
  <tr>
    <td class="cls-label"><%= label_tag :name %></td>
    <td><%= @product.name %></td>
  </tr>
  <tr>
    <td class="cls-label"><%= label_tag :description %></td>
    <td><%= @product.description %></td>
  </tr>
  <tr>
    <td class="cls-label"><%= label_tag :price %></td>
    <td><%= @product.price %></td>
  </tr>
  <tr>
    <td class="cls-label"><%= label_tag :weight %></td>
    <td><%= @product.weight %></td>
  </tr>
</table>
<br /><br />
<%= link_to "Back", products_path %>
