<h2>Latest Articles</h2>
<div class="latest_articles_content">
  <% Article.order('id DESC').limit(3).each do |rows| %>
    <p> <strong><%=rows.title%></strong> <br/><br/> <%=  truncate(rows.body, :length => 20, :omission => '...')%> <br/>
      <%= link_to 'Read more', :controller=> :articles, :action => :show, :id =>rows.id %>
    </p>
  <% end %>
</div>