<h2>Edit Article</h2>
<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <%= pluralize(@article.errors.count, "error") %> :
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <table>
    <tr>
      <td width="100">Title</td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td>Body</td>
      <td><%= f.text_area :body, :rows => 5 %></td>
    </tr>
  </table>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%=f.submit :Submit%>  <%= link_to "Back", articles_path %>
<% end %>
