<h2>List Articles</h2>
<% if current_user %>
  <%= link_to "New Article", new_article_path %><br /><br />
<% end %>
<div class="latest_articles_content">
  <% @articles.each do |rows| %>
    <p> <strong><%=rows.title%></strong> <br/><br/> <%=  truncate(rows.body, :length => 20, :omission => '...')%> <br/>
      <%= link_to 'Read more', article_path(rows.id) %>
      <% if is_owner(rows.user_id) %>
        | <%= link_to "Edit", edit_article_path(rows.id) %>
        | <%= link_to "Delete", article_path(rows.id), :method=>:delete, :confirm => "Are you sure?" %>
      <% end %>
    </p>
  <% end %>
</div>