<h2>Article</h2>
<table>
  <tr>
    <td width="80" class="cls-label">User:</td>
    <td><%= @article.get_user %></td>
  </tr>
  <tr>
    <td class="cls-label">Title:</td>
    <td><%= @article.title %></td>
  </tr>
  <tr>
    <td class="cls-label">Body:</td>
    <td><%= @article.body %></td>
  </tr>
</table>
<br /><br /><br />
<span id="comments_count"><%= pluralize(@comments.count, "Comment") %></span>
<div id="comments">
  <%= render :partial => "comments", :locals => {:comments => @comments}  %>
</div>
<br />

<% unless(current_user.nil?)%>
  <h3>Add Comment</h3>
  <div id="comment-notice"><%= flash[:notice] %></div>
  <%= form_for([@article, @article.comments.build], :remote => true) do |f| %>
    <%= f.text_area :comment, :rows=>8 %>
    <%= f.hidden_field :article_id, :value => @article.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %><br />
    <%= submit_tag "Submit" %>
  <% end -%>
<% end %>
<%= link_to "Back", articles_path %>