$("#comment-notice").html('<div class="flash notice"><%= escape_javascript(flash[:notice]) %></div>');
$("#comments").html(" <%= j( render :partial => "articles/comments",
  :locals => {:comments => @comments} ) %>")
$("#comment_comment").val("");
$("#comments_count").html("<%= pluralize(@comments.count, 'Comment') %>");
