<h3>List Category</h3>
<% Category.where(["parent_id IS NULL"]).each do |parent| %>
  <ul class="cat_list">
    <li>
      <%=parent.name%>
      <ul>
        <% Category.where(["parent_id = #{parent.id}"]).each do |child| %>
          <li><a href="javascript:void(0)"><%=  child.name%></a></li>
        <% end %>
      </ul>
    </li>
  </ul>
<% end %>