<h2>List Category</h2>
<% if is_administrator %>
<%= link_to "New Category", new_admin_category_path %><br /><br />
<% end %>
<table width="100%" border="1" class="table_border">
  <tr>
    <td class="tbl-header">Name</td>
    <td class="tbl-header" width="150px">Parent Category</td>
    <td class="tbl-header" width="100px">Action</td>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.get_parent_category %></td>
      <td align="center">
        <%= link_to 'Show', admin_category_path(category.id) %>
        <% if is_administrator %>
          <%= link_to "Edit", edit_admin_category_path(category.id) %>
          <%= link_to "Delete", admin_category_path(category.id), :method=>:delete, :confirm => "Are you sure?" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>