<h2>New Category</h2>
<%= form_for @category, :url => admin_categories_path do |f| %>
  <% if @category.errors.any? %>
    <%= pluralize(@category.errors.count, "error") %> :
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <table>
    <tr>
      <td width="100">Name:</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Parent:</td>
      <td><%= collection_select(:category, :parent_id, @parent_category, :id, :name, { :include_blank => true }) %></td>
    </tr>
  </table>
  <%=f.submit :Submit%>  <%= link_to "Back", admin_categories_path %>
<% end %>
