<h2>Detail Category</h2>

<table>
  <tr>
    <td width="80" class="cls-label"><%= label_tag :parent_id %></td>
    <td><%= @category.get_parent_category %></td>
  </tr>
  <tr>
    <td class="cls-label"><%= label_tag :name %></td>
    <td><%= @category.name %></td>
  </tr>
</table>
<br /><br />
<%= link_to "Back", admin_categories_path %>
