<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
    <%= pluralize(@product.errors.count, "error") %> :
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  User: <%= collection_select(:product, :user_id, @users, :id, :username, {:prompt => false}) %><br/>
  Name: <%= f.text_field :name %><br/>
  Description: <%= f.text_area :description %><br/>
  Price: <%= f.text_field :price, :size => 10 %><br/>
  <%=f.submit :Submit%>
<% end %>
<%= link_to "Back", products_path %>