<%= flash[:notice] %><br/>
<%= link_to "Add New", new_product_path %>
<table border="1">
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td>Price</td>
    <td>User</td>
    <td>Action</td>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.user.username %></td>
      <td>
        <%= link_to "Edit", edit_product_path(product.id) %>
        <%= link_to "Delete", product_path(product.id), :method=>:delete, :confirm => "Are you sure?" %>
      </td>
    </tr>
  <% end %>
</table>