/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require smoothness
 *= require_tree .
*/

h1 {
    border-bottom: 2px solid;
}
.clear{
    clear:both;
}
body {
    margin:10px 0;
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:12px;
}
#container {
    width:960px;
    margin:0 auto;
}

.profil-link{
    padding: 10px 25px;
}

.profil-link li{
    list-style-type:none;
}
.profil-link li a{
    text-decoration:none;
    font-weight:bold;
    color:black;
    display:block;
}
.profil-link li a:hover{
    color:red;
}

nav ul li{
    float:left;
    list-style-type:none;
    margin:0 10px 20px 0;
    border-right:1px solid;
    padding-right:10px;
}
nav ul li a{
    text-decoration:none;
    font-weight:bold;
    color:black;
    display:block;
    text-align:center;
}
nav ul li:last-of-type{
    border:none;
}

nav ul li a:hover{
    color:Turquoise;
}

.list-category h3 {
    text-align: center;
}

.list-category{
    padding: 0 0 20px 0;
}

.cls-login, .profil, .list-category{
    border:1px solid;
    border-color:silver;
    margin-bottom:20px;
    border-radius:10px;
}

#content aside{
    float:left;
    width:300px;
}
#right-side{
    float:left;
    margin-left:20px;
    width:640px;
}

.cls-login{
    padding: 5px;
}

.floatleft-label, .floatleft-field{
    float:left;
}

.floatleft-label{
    width:80px;
}
.floatleft-field{
    width:200px;
}

h2{
    margin-top: 0;
    padding: 5px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

ul.cat_list{
    list-style-type:square;
    margin:0 auto;
    padding-left:15px;
    border-bottom:1px dashed;
}
ul.cat_list ul li{
    border-top:1px dashed;
    margin-left:-15px;
}

ul.cat_list ul {
    list-style-type:none;
    padding-left:0px;
}
ul.cat_list ul li a{
    padding-left:30px;
    text-decoration:none;
    color:blue;
}
ul.cat_list ul li a:hover{
    color:red;
}


ul.product_list{
    list-style-type:none;
    padding-left:0px;
    margin:0 auto;
}

ul.product_list li{
    margin : 5px;
    float:left;
    width : 190px;
    border:1px solid;
    padding:5px 0 5px 10px;
    text-decoration:none;
    border-radius:10px;
    border-color:silver;
}
.latest_articles_content{
    padding:0px 5px 10px 5px;
}
.latest_articles_content p {
    border-bottom:1px solid;
    padding-bottom:5px;
}

table{
    border-collapse:collapse;
}
.tbl-header{
    text-align: center;
    font-weight: bold;
}
.cls-label{
    font-weight: bold;
}