<h3>Log in</h3>
<%= form_tag sessions_path do %>
  <p class="floatleft-label">
    <%= label_tag :email %>
  </p>
  <p class="floatleft-field">
    <%= text_field_tag :email, params[:email], options = {:size => "15"} %>
  </p>
  <div class="clear"></div>
  <p class="floatleft-label">
    <%= label_tag :password %><br />
  </p>
  <p class="floatleft-field">
    <%= password_field_tag :password, nil, options = {:size => "15"}  %>
  </p>  
  <p class="button"><%= submit_tag :"Sign In"%></p>
<% end %>