<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <%= pluralize(@category.errors.count, "error") %> :
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  Name: <%= f.text_field :name %><br/>
  <%=f.submit :Submit%>
<% end %>
<%= link_to "Back", categories_path %>