<%= flash[:notice] %><br/>
<%= link_to "Add New", new_category_path %>
<table border="1">
  <tr>
    <td>Name</td>
    <td>Action</td>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td>
        <%= link_to "Edit", edit_category_path(category.id) %>
        <%= link_to "Delete", category_path(category.id), :method=>:delete, :confirm => "Are you sure?" %>
      </td>
    </tr>
  <% end %>
</table>