<%= form_for @article, :url => admin_article_path do |f| %>
  <% if @article.errors.any? %>
    <%= pluralize(@article.errors.count, "error") %> :
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  Title: <%= f.text_field :title %><br/>
  Body: <%= f.text_area :body %><br/>
  Rating: <%= f.text_field :rating, :size => 10 %><br/>
  <%= f.hidden_field :user_id, :value => @current_user.id %>
  <%=f.submit :Submit%>
<% end %>
<%= link_to "Back", admin_articles_path %>