<%= flash[:notice] %><br/>
<%= link_to "Add New", new_admin_article_path %>
<table border="1">
  <tr>
    <td>Title</td>
    <td>Body</td>
    <td>Rating</td>
    <td>User</td>
    <td>Action</td>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.body %></td>
      <td><%= article.rating %></td>
      <td><%= article.user.username %></td>
      <td>
        <%= link_to 'Show', :action => :show, :id => article.id %>
        <%= link_to "Edit", edit_admin_article_path(article.id) %>
        <%= link_to "Delete", admin_article_path(article.id), :method=>:delete, :confirm => "Are you sure?" %>
      </td>
    </tr>
  <% end %>
</table>