<ul class="profil-link">
  <li>
    <%= link_to "Edit Profil", edit_user_path(current_user.id) %>
  </li>
  <li>
    <%= link_to "Sell a Product", new_product_path %>
  </li>
  <li>
    <%= link_to "Share an Article", new_article_path %>
  </li>
  <li>
    <%= link_to "Logout", log_out_path , :confirm => "Are you sure?" %>
  </li>
</ul>