<h2>Edit Profile</h2>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h3>Form is invalid</h3>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td width="100"><%= f.label :name %></td>
      <td><%= f.text_field :name%></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email%></td>
    </tr>
    <tr>
      <td><%= f.label :address %></td>
      <td><%= f.text_area :address, :rows => 5 %></td>
    </tr>
    <tr>
      <td><%= f.label :phone_number %></td>
      <td><%= f.text_field :phone_number%></td>
    </tr>
    <tr>
      <td><%= f.label :birthday %></td>
      <td><%= f.text_field :birthday, :size => 10, :readonly => true  %></td>
    </tr>
    <tr>
      <td><%= f.label @user.gender %></td>
      <td>
        <%= f.radio_button :gender, true %> <%= f.label "Male" %>
        <%= f.radio_button :gender, false %> <%= f.label "Female" %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :facebook %></td>
      <td><%= f.text_field :facebook%></td>
    </tr>
    <tr>
      <td><%= f.label :blog %></td>
      <td><%= f.text_field :blog%></td>
    </tr>
  </table>
  <p class="button"><%= f.submit :"Submit" %></p>
<% end %>
