<h2>User Profile</h2>

<table>
  <tr>
    <td class="cls-label" width="100"><%= label_tag :name %></td>
    <td><%= current_user.name%></td>
  </tr>
  <tr>
    <td class="cls-label"><%= label_tag :email %></td>
    <td><%= current_user.email%></td>
  </tr>
  <tr>
    <td class="cls-label"><%= label_tag :address %></td>
    <td><%= current_user.address%></td>
  </tr>
  <tr>
    <td class="cls-label"><%= label_tag :phone_number %></td>
    <td><%= current_user.phone_number%></td>
  </tr>
  <tr>
    <td class="cls-label"><%= label_tag :birthday %></td>
    <td><%= current_user.birthday.strftime("%d-%m-%Y") %></td>
  </tr>
  <tr>
    <td class="cls-label"><%= label_tag :gender %></td>
    <td><%= (current_user.gender == true ?"Male":"Female") %></td>
  </tr>
  <tr>
    <td class="cls-label"><%= label_tag :facebook %></td>
    <td><%= current_user.facebook%></td>
  </tr>
  <tr>
    <td class="cls-label"><%= label_tag :blog %></td>
    <td><%= current_user.blog%></td>
  </tr>
</table>
