<% if !@article.nil? %>
  <h2>Article</h2>
  User: <%= @article.user.username %><br/>
  Title: <%= @article.title %><br/>
  Body: <%= @article.body %><br/>
  Rating: <%= @article.rating %><br/><br/><br/>

  <span id="comments_count"><%= pluralize(@comments.count, "Comment") %></span>
  <div id="comments">
    <%= render :partial => "comments", :locals => {:comments => @comments}  %>
  </div><br />

  <h3>Add Comment</h3>
  <div id="comment-notice"><%= flash[:notice] %><br/></div>

  <% unless(current_user.nil?)%>
    <%= form_for([@article, @article.comments.build], :remote => true) do |f| %>
      <%= f.text_area :content %>
      <%= f.hidden_field :article_id, :value => @article.id %>
      <%= submit_tag "comment" %>
    <% end -%>
  <% end %>
<% end %>
<%= link_to "Back", articles_path %>